<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
    <p>Best done with <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">a pal</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    {{> slider}}
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Who</h2>
    <p>
      A bunch of geeks trying to figure out how to program life.
    </p>
    <p>
      Like we got nothing else to do anyway. `¯\_(ツ)_/¯`
    </p>
  </div>

  <div class="col">
    <h2>What</h2>
    <p>
      <a href="http://coderetreat.org/" target="_blank">Code Retreat</a> 
      is a global event to celebrate our nerdradery and love for programming.
    </p>
    <p>
      The term programming is too lifeless, we are not robots, we do not just 
      "program" we craft!
    </p>
  </div>

  <div class="col">
    <h2>When</h2>
    <p>
      <a href="https://www.coderetreat.org/events/" target="_blank">Click here</a>
      to find out more about the next event located in your country!
    </p>
    <p>
      IT'S GONNA BE LIT.
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Where</h2>
    <p>
      We are located on the one and only World Wide Web!
    </p>
    <p>
      Now that would be just silly if it wasn't!
    </p>
    <img src="/images/tenor.gif" alt="Owen Wilson" style="width:300px;height:200px;">
  </div>

  <div class="col">
    <h2>Why</h2>
    <p>
      Because we simply want to and we can program.
    </p>
    <p>
      In the wise words of <a href="https://youtu.be/HgzGwKwLmgM?t=77"
      target="_blank">Freddie Mercury...</a>
    </p>
  </div>

  <div class="col">
    <h2>Take My Necessary Survey:</h2>
      <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
        <fieldset>
          <label for="favorite video game">What is your favorite video game of all time?</label>
          <input type="text" id="text_input" name="favorite video game"><br><br>
          <label for="go-to karaoke">What is your go-to karaoke song?</label>
          <input type="text" id="text_input" name="go-to karaoke"><br><br>
          <label for="first late-night guest">If you had your own late-night talk show, who would your first guest be?</label>
          <input type="text" id="text_input" name="first late-night guest"><br><br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
  </div>
</div>
